body{
    font-family: Lato, Helvetica, Arial, Tahoma, sans-serif;;
    height: 100vh;
    background: linear-gradient(#7be6dd,#024053);
  }
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background-color: #fff;
    padding-bottom: 30px;
    width: 40%;
}

.header img{
    width: 50%;
} 

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: rgb(84, 0, 240);
    font-size: 48px;
    font-weight: 700;
}

.inputs{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    align-items: center;
    margin-left: 50px;
    gap: 4px;
    margin-top: 10px;
    width: 80%;
    padding-left: 20px;
    border-radius: 6px;
    border: 1px solid #979494;
}

.input input{
    height: 30px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #464545;
    font-size: 15px;
    border-radius: 4px;
}

.input input:hover{
    cursor: pointer;
}

.forgot-password{
    padding-left: 95px;
    margin-top: 10px;
    color: #860000;
    font-size: 18px;
}

.forgot-password span{
    color: #3a2e2e;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 40px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 190px;
    color: #fff;
    background: #0080a7;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}

.rbs-loginFooter .rbs-newUser, .rbs-loginFooter .rbs-supportedBrowser {
    font-size: 11px;
    display: inline-block !important;
    margin-top: 20px;
    margin-left: 30%;
    color: #2c2b2b;
}

.rbs-languageChoice {
    text-align: center;
    margin-top: 20px;
}