@tailwind base;
@tailwind components;
@tailwind utilities;



.menu-bar::-webkit-scrollbar {
    width: 2px !important; 
    height: 10px !important;
  }
  
  .menu-bar::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 2px; 
  }
  
  .menu-bar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  .menu-bar::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 4px;
  }